@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1563711246253-b4af863acbd4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=733&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    color: #fff;
}

footer {
    background-color: #367652;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input-group-text {
    background-color: #4DDF97;
}


i {
    color: #fff;
}

.login_btn {
    width: 100%;
    background-color: #367652;
    color: #fff;
}

.login_btn:hover {
    background-color: #F4C700;
    font-weight: 600;
    color: #fff;
}

.form-login {
    margin-top: 10vh;
    box-shadow: 0 0 5px 0px rgb(77, 77, 77);
    border-radius: 5px;
    margin-bottom: 10vh;
}

.form-login-pelajar input, .form-login-pelajar button {
    border-radius: 10px;
}

.form-login-pelajar .form-header{
    background-color: #367652;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.form-login-pelajar .form-body {
    padding: 30px;
}

.form-login {
    padding: 0;
}

.materi-item {
    cursor: pointer;
}

.materi-item:hover {
    background-color: #367652;
    color: #fff;
}

.list-komentar {
    margin-top: 20px;
    padding: 15px;
}


/* Styleing Quiz */
.heading-quiz {
    background-color: #F4C700;
    padding-top: 25px;
    color: #fff;
    margin-bottom: 50px;
}

.pertanyaan:hover {
    transition: 0.35s;
    box-shadow: 0 0 7.5px 0px gray;
}

.opsi:hover {
    font-weight: 700;
    color: #198DFA;
}

.soal-card {
    margin-bottom: 100px;
}

.lihat-skor {
    background-color: #4DDF97;
    color: #fff;
}

.lihat-skor:hover {
    background-color: #367652;
    color: #fff;
}

.materi-completed {
    background-color: #2B9755;
    color: #fff;
}

.quiz-item {
    text-decoration: none;
}