* {
  scroll-behavior: smooth;
}

.jumbotron h1 {
  font-weight: 600;
}

.features-item {
  padding: 20px;
  box-shadow: 0 0 7px 0 gray;
  border-radius: 5px;
}

.features-item p {
  margin: 0;
}

.kelas-tersedia {
  background-color: #FBEAC7;
  padding-top: 75px;
  padding-bottom: 100px;
}

.item-class .card:hover {
  transition: 0.5s;
  box-shadow: 0 0 15px 0 gray;
}